body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    width: 80%;
    margin: 20px auto;
}

#recipe-form,
#recipe-list {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

textarea,
input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

li h3 {
    margin-top: 0;
}
.recette-list
{
    display: flex;
    align-items: center;
}
.recette-list h2
{
    flex: 1;
}
.icons i 
{
    cursor: pointer;
    margin-right: 5px;
}